@import "../vendor/css/normalize";
@import "../vendor/css/skeleton";

$kye-red: #F24257;

body {
  font-family: 'Open Sans', sans-serif;
}

textarea {
  resize: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

  @media (min-width: 550px) {
  }

.site-content {
  text-align: center;
  @media (min-width: 550px) {
    // When we have sticky nav
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.navbar {
  $kye-logo-size-big: 75px;
  $kye-logo-size: 60px;

  margin-bottom: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 5;
  background: white;
  box-shadow: 1px 1px 1px 1px #F0F0F0;
  box-sizing: border-box;
  padding: 0px 20px;
  min-height: $kye-logo-size;

  @media (min-width: 550px) {
    min-height: $kye-logo-size-big;
    width: 80%; // Match .container width
    padding: 3.5rem 0;
    box-shadow: none;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar-wrapper {
    margin: 1.5rem 0;
    text-align: left;
    position: relative;

    @media (min-width: 550px) {
      display: inline-block;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
    }
  }

  .navbar-menu-trigger {
    border: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    @media (min-width: 550px) {
      display: none;
    }
  }

  ul {
    list-style: none;
    position: relative;
    background: white;
    margin: 1rem 0 0;
    display: none;

    &.is-open {
      animation: fadeInDown .5s;
      display: block;
    }

    @media (min-width: 550px) {
      display: inline-block;
      margin: 0;
      z-index: 2;
    }
  }


  li {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 1rem;
    font-size: 1.3rem;
    color: rgb(34, 34, 34);

    @media (min-width: 550px) {
      margin-bottom: 0;

      &.middle {
        margin-left: $kye-logo-size-big;
      }
    }
  }

  .kye-logo {
    width: $kye-logo-size;
    height: $kye-logo-size;
    padding: 0;
    background-color: $kye-red;
    border-radius: 50%;
    line-height: $kye-logo-size;
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 1px rgb(85, 85, 85);
    font-size: 1.1em;
    letter-spacing: .15em;
    display: inline-block;
    text-align: center;

    @media (min-width: 550px) {
      width: $kye-logo-size-big;
      height: $kye-logo-size-big;
      line-height: $kye-logo-size-big;
    }
  }

  a {
    color: rgb(34, 34, 34);
    text-decoration: none;
  }

  .nav-line {
    display: none;
  }

  @media (min-width: 550px) {
    .kye-logo {
      position: static;
      margin: 0 1rem;
    }

    li {
      margin: 0;
    }

    .nav-line {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      bottom: initial;
      width: 100%;
      margin: 0;
    }
  }
}

.mod {
  margin: 0 0 8rem;
  @media (min-width: 550px) {
    margin: 12rem 0;
  }
}

.showcase-mod {
  margin-top: 15rem;

  @media (min-width: 550px) {
    margin-top: 10rem;
  }

  .welcome-message {
    margin: 5rem 0;

    @media (min-width: 550px) {
      margin: 5rem 0 9rem;
    }
  }

  .welcome-mod-our-names {
    font-family: 'Playfair Display', serif;
    border: 1px solid rgb(210, 210, 210);
    border-left: 0;
    border-right: 0;
    display: inline-block;
    padding: 20px 60px;
    margin-bottom: 1rem;

    .and {
      color: $kye-red;
    }
  }

  .welcome-mod-date {
    margin-bottom: 4rem;
  }

  img {
    $image-rotation: 5deg;
    width: 100%;
    position: relative;

    &.one {
      transform: rotate($image-rotation);
    }

    &.two {
      transform: rotate(-$image-rotation);
    }

    &.three {
      transform: rotate($image-rotation);
    }

    &.four {
      transform: rotate(-$image-rotation);
    }

    @media (min-width: 400px) {
      width: 90%;
    }

    /* Larger than phablet (also point when grid becomes active) */
    @media (min-width: 550px) {
      width: 47%;

      &.one {
        transform: rotate($image-rotation);
      }

      &.two {
        transform: rotate(-$image-rotation);
        z-index: 2;
      }

      &.three {
        transform: rotate(-$image-rotation);
        top: -30px;
        z-index: 3;
      }

      &.four {
        transform: rotate($image-rotation);
        top: -30px;
        z-index: 4;
      }
    }
  }

}

.info-row {
  list-style: none;
  margin-bottom: 0;

  .info-column {
    margin-bottom: 3rem;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: 550px) {
      margin-bottom: 0;
    }
  }

  .info-column-title {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0;
    color: $kye-red;
    margin-bottom: 1rem;
    font-weight: bold;

    a {
      text-decoration: none;
      color: $kye-red;
    }
  }

  .info-column-subtitle {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0;
    margin-bottom: .5rem;
    font-weight: 600;
  }

  .info-column-img {
    margin-bottom: 1rem;
    width: 100%;
  }

  p {
    margin-bottom: .5rem;
  }
}

.mod-title {
  font-family: 'Playfair Display', serif;
}

.mod-subtitle {
  margin-top: 0px;
  font-style: italic;
}

.event-gallery-mod {
  .event-gallery-wrapper {
    position: relative;
  }

  .event-gallery-hashtag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 6rem;
    text-shadow: 1px 4px 6px rgb(0, 0, 0),
                 0 0 0 rgb(0, 0, 0),
                 1px 4px 6px rgb(0, 0, 0);
  }

  img {
    width: 100%;
  }
}

.thankyou-mod {
  margin-bottom: 1rem;
  padding-top: 3rem;
  border-top: 1px solid #D1D1D1;
  font-family: 'Playfair Display', serif;
}

.rsvp-thanks {
  margin-top: 10rem;

  h1 {
    font-family: 'Playfair Display', serif;
  }
}

.rsvp-form {
  label {
    text-align: left;
  }
}
