<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>${{ i18n.title }}$</title>
    <meta name="description" content="${{ i18n.description }}$">
    <meta property="og:title" content="${{ i18n.ogTitle }}$" />
    <meta property="og:image" content="http://www.kye2016.com/img/showcase/image1.jpg" />
    <meta property="og:type" content="website" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicon.ico">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="dist/base.css">
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400|Open+Sans:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <main class="site-content container">
      <nav id="navbar" class="navbar">
        <div class="navbar-wrapper">
          <span class="kye-logo kye-logo-no-menu">K&E</span>
          <button id="navbar-trigger" class="navbar-menu-trigger">${{ i18n.nav.menu }}$</button>
        </div>
        <ul id="navbar-menu">
          <li>
            <a class="nav-link" href="#">${{ i18n.nav.home }}$</a>
          </li><li>
            <a class="nav-link" href="#agenda">${{ i18n.nav.agenda }}$</a>
          </li><li class="kye-logo-in-menu">
            <span class="kye-logo">K&E</span>
          </li><li>
            <a class="nav-link" href="#hotels">${{ i18n.nav.travel }}$</a>
          </li><li>
            <a class="nav-link" href="#photos">${{ i18n.nav.photos }}$</a>
          </li>
        </ul>
        <hr class="nav-line"/>
        <a href="${{ i18n.nav.languagePath }}$" class="language">${{ i18n.nav.language}}$</a>
      </nav>
      <section class="mod showcase-mod" id="showcase">
        <!--[if lt IE 10]>
          <p class="browserupgrade">Estás usando un navegador <strong>viejo :(</strong>. Por favor <a href="http://browsehappy.com/">actualízalo</a> para mejorar tu experiencia.</p>
        <![endif]-->
        <img class="one" src="img/showcase/image1.jpg" alt="Karol & Eddie - Santiago, Nuevo León, México">
        <img class="two" src="img/showcase/image2.jpg" alt="Karol & Eddie - Alcatraz">
        <div class="welcome-message">
          <header>
            <h1 class="welcome-mod-our-names">
              <span>Karol Acosta</span><br/>
              <span class="and">&</span><br/>
              <span>Edilberto Ruvalcaba</span>
            </h1>
          </header>
          <h5 class="welcome-mod-date">${{ i18n.weddingDate }}$</h5>
          <p>
            ${{ i18n.description }}$
          </p>
        </div>
        <img class="three" src="img/showcase/image3.jpg" alt="Karol & Eddie - Japanese Garden">
        <img class="four" src="img/showcase/image4.jpg" alt="Karol & Eddie - Lombard Street">
      </section>
      <section class="mod event-mod" id="agenda">
        <h2 class="mod-title" id="agenda-title">${{ i18n.agenda.title }}$</h2>
        <p class="mod-subtitle">${{ i18n.agenda.subtitle }}$</p>
        <ul class="row info-row">
          <li class="three columns info-column">
            <h2 class="info-column-title">${{ i18n.agenda.event1Title }}$</h2>
            <h4 class="info-column-subtitle">${{ i18n.agenda.event1Subtitle }}$</h4>
            <p>${{ i18n.agenda.event1Date }}$</p>
            <p>${{ i18n.agenda.event1Time }}$</p>
            <p>${{ i18n.agenda.event1Address }}$</p>
            <a href="https://goo.gl/maps/pc4aRdcnvim" target="_blank">${{ i18n.seeMap }}$</a>
          </li>
          <li class="three columns info-column">
            <h2 class="info-column-title">${{ i18n.agenda.event2Title }}$</h2>
            <h4 class="info-column-subtitle">${{ i18n.agenda.event2Subtitle }}$</h4>
            <p>${{ i18n.agenda.event2Date }}$</p>
            <p>${{ i18n.agenda.event2Time }}$</p>
            <p>${{ i18n.agenda.event2Address }}$</p>
            <a href="https://goo.gl/maps/JMkbQp22awp" target="_blank">${{ i18n.seeMap }}$</a>
          </li>
          <li class="three columns info-column">
            <h2 class="info-column-title">${{ i18n.agenda.event3Title }}$</h2>
            <h4 class="info-column-subtitle">${{ i18n.agenda.event3Subtitle }}$</h4>
            <p>${{ i18n.agenda.event3Date }}$</p>
            <p>${{ i18n.agenda.event3Time }}$</p>
            <p>${{ i18n.agenda.event3Address }}$</p>
            <a href="https://goo.gl/maps/PTwzabQX2hy" target="_blank">${{ i18n.seeMap }}$</a>
          </li>
          <li class="three columns info-column">
            <h2 class="info-column-title">${{ i18n.agenda.event4Title }}$</h2>
            <h4 class="info-column-subtitle">${{ i18n.agenda.event4Subtitle }}$</h4>
            <p>${{ i18n.agenda.event4Date }}$</p>
            <p>${{ i18n.agenda.event4Time }}$</p>
            <p>${{ i18n.agenda.event4Address }}$</p>
            <a href="https://goo.gl/maps/PTwzabQX2hy" target="_blank">${{ i18n.seeMap }}$</a>
          </li>
        </ul>
      </section>
      <section class="mod" id="hotels">
        <h2 class="mod-title" id="hotels-title">${{ i18n.travel.title }}$</h2>
        <p class="mod-subtitle">${{ i18n.travel.subtitle }}$</p>
        <ul class="row info-row">
          <li class="six columns info-column">
            <h2 class="info-column-title"><a href="http://www.mesondejobito.com.mx/" target="_blank" rel="nofollow">${{ i18n.travel.hotel1 }}$</a></h2>
            <a href="http://www.mesondejobito.com.mx/" target="_blank" rel="nofollow"><img class="info-column-img" src="img/hoteles/jobito.jpeg" alt="Vista de Mesón de Jobito" width="350"></a>
            <p>${{ i18n.travel.hotel1Phone }}$</p>
            <p>${{ i18n.travel.hotel1Address }}$</p>
            <p>${{ i18n.travel.hotel1Facts }}$</p>
            <a href="https://goo.gl/maps/dWwuXPWVGyQ2" target="_blank">${{ i18n.seeMap }}$</a>
          </li>
          <li class="six columns info-column">
            <h2 class="info-column-title"><a href="http://www.hotelesemporio.com/zacatecas" target="_blank" rel="nofollow">${{ i18n.travel.hotel2 }}$</a></h2>
            <a href="http://www.hotelesemporio.com/zacatecas" target="_blank" rel="nofollow"><img class="info-column-img" src="img/hoteles/emporio.jpeg" alt="Vista de Hotel Emporio" width="350"></a>
            <p>${{ i18n.travel.hotel2Phone }}$</p>
            <p>${{ i18n.travel.hotel2Address }}$</p>
            <p>${{ i18n.travel.hotel2Facts }}$</p>
            <a href="https://goo.gl/maps/QzQAAfjsmJn" target="_blank">${{ i18n.seeMap }}$</a>
          </li>
        </ul>
      </section>
      <section class="mod" id="rsvp">
        <h2 class="mod-title">${{ i18n.rsvp.title }}$</h2>
        <p class="mod-subtitle">${{ i18n.rsvp.subtitle }}$</p>
        <form id="rsvp-form" class="rsvp-form" method="POST" action="https://formspree.io/karolacosta.padilla@gmail.com">
          <div class="row">
            <div class="six columns">
              <label for="exampleEmailInput">${{ i18n.rsvp.name }}$</label>
              <input name="famName" class="u-full-width" type="text" placeholder="${{ i18n.rsvp.namePlaceholder }}$" required>
            </div>
            <div class="six columns">
              <span class="as-label">${{ i18n.rsvp.days }}$</span>
              <div class="row">
                <label>
                  <input type="checkbox" name="dia[]" value="viernes">
                  <span class="label-body">${{ i18n.rsvp.friday }}$</span>
                </label>
                <label>
                  <input type="checkbox" name="dia[]" value="sabado">
                  <span class="label-body">${{ i18n.rsvp.saturday }}$</span>
                </label>
                <label>
                  <input type="checkbox" name="dia[]" value="domingo">
                  <span class="label-body">${{ i18n.rsvp.sunday }}$</span>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <label for="exampleMessage">${{ i18n.rsvp.songs }}$</label>
              <textarea name="songList" class="u-full-width" placeholder="${{ i18n.rsvp.songsPlaceholder }}$" id="exampleMessage"></textarea>
            </div>
          </div>
          <input type="hidden" name="_next" value="${{ i18n.rsvp.nextPath }}$" />
          <input type="hidden" name="_subject" value="Confirmando asistencia a boda" />
          <input type="text" name="_gotcha" style="display:none" />
          <input class="button-primary" type="submit" value="${{ i18n.rsvp.confirm }}$">
        </form>
      </section>
      <section class="mod event-gallery-mod" id="photos">
        <h2 class="mod-title" id="photos-title">${{ i18n.photos.title }}$</h2>
        <p class="mod-subtitle">${{ i18n.photos.subtitle }}$</p>
        <div class="event-gallery-wrapper">
          <img src="img/collage.jpg" alt="${{ i18n.photos.collageAlt }}$">
          <h3 class="event-gallery-hashtag">#KE2016</h3>
        </div>
      </section>
      <section class="mod">
        <h2 class="mod-title">${{ i18n.gifts.title }}$</h2>
        <p>${{ i18n.gifts.message }}$</p>
      </section>
      <section class="mod thankyou-mod">
        <h5 class="thankyou-mod-message">${{ i18n.thankyou }}$</h5>
      </section>
    </main>
    <script src="dist/smooth-scroll.min.js"></script>
    <script src="dist/main.js"></script>
  </body>
</html>
